@import url("/font/MuseoSans_500.otf");

@font-face { /* declare fonts */
    font-family: "MuseoLight";
    src: url("/font/Museo500-Regular.otf");
    src: local("Museo 500"), local("Museo-500")
}
/* display fonts */
h1 { font: 24px/1 MuseoLight, Verdana, sans-serif; }
h2 { font: 18px/1 MuseoLight, Verdana, sans-serif; }
h3 { font: 14px/1 MuseoLight, Verdana, sans-serif; }

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
    -webkit-font-smoothing: antialiased;
    font-family:  MuseoSans, Verdana, sans-serif;
}

.row {
    margin-left:0px;
    margin-right:0px;
}
.text-reposnsive-prov {
    color: #ffffff;
    font-weight: 500;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 200px;
    width: 93%;
}
.btn-info , .btn-primary ,.btn-primary:hover .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: white !important;
    border-color: white  !important;
    color: white  !important;
}
.btn-info:hover .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    background-color: white  !important;
    border-color: white  !important;
    color: white  !important;
}
.btn-primary:hover .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-info {
    background-color: white;
    border-color: white;
    color: white;
}
/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}


.container{
    max-width: 920px;
}
/* Custom page CSS
-------------------------------------------------- */

.container .credit {
    margin: 20px 0;
}

.marginBottom-0 {margin-bottom:0;}
.marginBottom-0 {margin-bottom:0;}


#footer a {
    color:#efefef;
}

h1,h2,h3,h4 {
    font-family: MuseoLight, Verdana, sans-serif;
    vertical-align:middle;
}

header {
    height:100px;
    color:#383838;
}
.logo {
    height: 67px;
    margin-top: 26px;
}
header h1,header h2,header h3 a,header a,header a:hover {
    color:#383838;
    font-weight:800;
    text-decoration:none;
}

header h3 {
    font-family:  MuseoLight, Verdana, sans-serif;
    background: #ffcc33;
    padding:10px;
    border-radius:3px;
    font-size:34px;
    padding:12px 10px 6px 10px;
}

header .dropdown-menu {
    top:74px;
    background: #383838;
    border-width:0;
}

h1 {
    font-size:50px;
}

.title{
    color:#ffffff;
    font-size: 20px;
    padding-top: 116px;
}
#nav {
    width: 100%;
    position:static;
    top:-32px;
}

.marginBottom-0 {margin-bottom:0;}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{
    top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px
}
.dropdown-submenu>a:after{
    display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;
}
.dropdown-submenu:hover>a:after{
    border-left-color:#555;
}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

#nav.affix {
    position: fixed;
    top: 0;
    z-index:10;
    -webkit-transition: all .6s ease-in-out;
}

#footer > .container {

}

@media (min-width: 767px) {
    .navbar-nav.nav-justified > li{
        float:none;
        width: 100px;
    }

}
.navbar-text {
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
}
.color-w{
    color: white;
}
.navbar-btn {
    margin-bottom: 5px;
    margin-top: 5px;
}

.btn-danger:hover{
    background-color:#d9534f
}
.conn-form select {
    font-family: MuseoLight, Verdana, sans-serif;
    height: 30px;
    width: 100%;
    text-align: center;
    background-color: #e2e2e2;
    color: #383838;
    border: 0 none;
    font-weight: bold;
}
@media (max-width: 767px) {
    .login{
        display:none;
    }
}
.collapse.navbar-collapse {
    padding-left: 170px;
    padding-right: 120px;
}
.nav-justified {
    padding-left: 90px;
    padding-right: 90px;

}


/* customize nav style */
.navbar-custom {
    background-color: #383838;
    border-width:0;
    margin-bottom: 0px;
}
.middle{
    min-height: 227px;
    padding: 50px;
}
.navbar-custom  .navbar-nav>li>a {
    color: #ddd;
}

.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {
    background-color: #000;
    font-weight: 200;
    color:#999;
}
.navbar-custom .dropdown-menu{
    background-color: #383838;
    color: #ffffff;
}

.dropdown-menu > li > a {
    color: #ffffff;
}
.navbar-custom .navbar-nav>.dropdown>a .caret {
    border-top-color: #999;
    border-bottom-color: #999;

}


.navbar-collapse.in { /*3.0.2 bug workaround*/
    overflow-y: visible;
}

.navbar-toggle {
    outline:0;
}
.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.bg-ico{
    width: 152px;
}
.img-responsive:hover {
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    -moz-filter: brightness(70%);
    -o-filter: brightness(70%);
    -ms-filter: brightness(70%);
}
.text-reposnsive-2 {
    color: #ffffff;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 122px;
    width: 93%;
    font-weight: 500;
}
.text-reposnsive {
    color: #ffffff;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 41px;
    width: 93%;
    font-weight: 300;
}
.divider {
    height:200px;
}
.divider-small {
    height:20px;
}
.divider-small-p {
    height:80px;
}
.divider-small-ps {
    height:20px;
}
.img-left{
    width: 319px;
}
.panel {
    border-width:0;
}

@media (max-width: 768px) {
    header {
        height: 95px;
    }
}
.devsite-avatar {
    border-radius: 23px;
    height: 46px;
    width: 46px;
}
.head-log{
    top: 25px;
}
.navbar {
    min-height: 36px;
}
.navbar-nav > li > a {
    line-height: 29px;
    padding-bottom: 0;
    padding-top: 6px;
}
.margin-0{
    padding-left: 0px; padding-right: 0px;
}
#map-canvas {
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 15px;
}
.map-canvas2 {
    height: 900px !important;
}
.scroll-top {
    position:fixed;
    bottom:0;
    right:6%;
    z-index:100;
    background: #ffcc33;
    font-size:24px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}
.scroll-top a:link,.scroll-top a:visited {
    color:#222;
}


section {
    color: #383838;
    min-height: 400px;
    height: auto !important;
    height: 100%;
    padding-top:100px;

}
.portfolio-item {
    padding-left: 7px;
    padding-right: 7px;
}

.lead-title {
    color: #9d3e46;
    text-align: center;
    padding-top: 65px;
    text-transform: uppercase;
    font: italic normal 30px/30px normal, sans-serif;
}
.bg-1 {
    background: url('/grande-interno.png') no-repeat scroll 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;

}
.bg-12 {
    background: url('/bmw.png')  no-repeat scroll 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}
.bg-13 {
    background: url('/bg-footer.png')  no-repeat scroll 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 379px;
}
.bg-stg-13 {
    background: url('/bridge.png')  no-repeat scroll 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px;
    color: white;
    vertical-align: middle;
}
.bg-ft-1 {
    background: rgba(0, 0, 0, 0) url("/icone1.png") no-repeat scroll 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 90%;
    background-position: center;
    height: 62px;
    width:  47px;
    margin: 20px 50px;
}
.bg-ft-2 {
    background: rgba(0, 0, 0, 0) url("/icone2.png") no-repeat scroll 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 90%;
    background-position: center;
    height: 62px;
    width:  47px;
    margin: 20px 50px;
}
.bg-ft-3 {
    background: rgba(0, 0, 0, 0) url("/icone3.png") no-repeat scroll 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 90%;
    background-position: center;
    height: 62px;
    width:  47px;
    margin: 20px 50px;
}
.link-footer{
    height: 200px;
    padding: 0px;
}
.tx-ft {
    color: #ffffff;
    text-align: center;
}
.bg-ft-4 {
    background: rgba(0, 0, 0, 0) url("/icone4.png") no-repeat scroll 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 90%;
    background-position: center;
    height: 62px;
    width:  47px;
    margin: 20px 50px;
}
.col-bg-1:hover {
    opacity:0.7;
    background-color: #471d20;
    height: 100%;
}
.col-bg-1{
    padding :  0px;
    padding-left: 25px; padding-right: 25px;*
height: 100%;
}
.bg-2 {
    background: url('http://www.bootply.com/assets/example/bg_5.jpg')  no-repeat scroll 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-3 {
    background: url('http://www.bootply.com/assets/example/bg_6.jpg')  no-repeat scroll 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-4 {
    padding-top:30px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(20,20,20,0.2)),to(rgba(255,255,255,0)), color-stop(1,#000));
}
.page-prod{
    min-height: 800px;
}
.prod-1{
    background-color: #d05252;
    color: white;
}

.prod-2{
    background-color: #f2f2f2;

}
.prod-3{
    background: url('/inscription.png')  no-repeat scroll 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.Permis_voiture_classique {
    font-size: 21px;
    font-family: MuseoLight, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-style: italic;
    line-height: 1.4;
    text-align: left;
    position: absolute;
    left: 39.922px;
    width: 100%;
    height: 30px;

}
.btn-inscription{
    color: rgb(255, 255, 255);
    font-family: MuseoLight,Verdana,sans-serif;
    font-size: 21px;
    height: 57px;
    line-height: 1.4;
    margin-top: 220px;
    position: absolute;
    text-align: left;
    width: 200px;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    padding-top: 13px; padding-bottom: 13px;
}
.btn-inscription:hover{
    color: rgb(255, 255, 255);
    font-family: MuseoLight,Verdana,sans-serif;
    font-size: 21px;
    height: 57px;
    line-height: 1.4;
    margin-top: 220px;
    position: absolute;
    text-align: left;
    width: 200px;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    padding-top: 13px; padding-bottom: 13px;
    text-decoration:none;
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    -moz-filter: brightness(70%);
    -o-filter: brightness(70%);
    -ms-filter: brightness(70%);
}
.divider-small-p-hr {
    color: #ffffff;
    width: 70%;
}
.divider-small-p-hr-bl {
    color: #000000;
    width: 70%;
}
.prod-3:hover{
    filter: brightness(70%);
}
.Le_permis_de_conduire_est_une_véritable_formati {
    font-size: 10px;
    color: rgb(255, 255, 255);
    line-height: 2.1;
    text-align: left;
    position: absolute;
    left: 40px;
    width: 419px;
    height: 651px;
    margin-top: 100px;
}
.Notre_formation_comprend {
    font-size: 25px;
    color: rgb(205, 88, 88);
    font-weight: bold;
    line-height: 1.4;
    text-align: left;
    position: absolute;
    left: 39.922px;
    width: 423px;
}
.Notre-color{
    color: #383838;
    font-size: 10px;
    line-height: 2.1;
    text-align: left;
    margin-top: 100px;
}
.bg-ct{
    background: url('/67-bg.jpg')  no-repeat scroll 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 800px;
}
.bg-ctIn {
    background: rgba(0, 0, 0, 0) url("/EXAMEN.png") no-repeat scroll 0 0 / cover ;
    height: 308px;
    width: 100%;
}

.connexion-bas{
    background: rgba(0, 0, 0, 0) url("/designer-desk-essentials-psd2-650x450.png") no-repeat scroll 0 0 / cover ;
    height: 650px;
    width: 100%;
    position: relative;
    background-size: 450px;
    background-position-y: 37px;
}
.connexion{
    width: 450px;
}
.conn-form{
    margin-top: 60px;
}
.front-stagetable{
    margin-left: 2.5%;
}
.permis{
    width: 100%;
}
.permis-bas{
    background-color: #e2e2e2;
    height: 590px;
    border-top-right-radius: 31px;
    border-top-left-radius: 31px;
    text-align: center;
}
.large{
    width: 1300px;
}
.permis-form{
    padding-top: 106px;
}
.cent{
    width: 100% !important;
}
.input{
    width:80%;
}
.divider-small-pp {
    height: 56px;
}
.step {
    height: 8px;
    width: 90px;
    background-color: #636363;
}
.bar-step{
    width: 450px;
}
.on{
    background-color: #dd4850 !important;
}
.bar-title{
    height: 135px;
    text-align: center;
    color:#933030;
    padding-top: 57px;
}
.bar-title2{
    height: 135px;
    text-align: center;
    color:#933030;
    padding-top: 57px;
}
.conn-form input {
    font-family:  MuseoLight, Verdana, sans-serif;
    height: 30px;
    width: 100%;
    text-align: center;
    background-color: #e2e2e2;
    color: #383838;
    border: 0 none;
    font-weight: bold;
}
.divider-small-px{
    border-bottom: 10px #636363 solid;
    height: 300px;
    margin-bottom: 15px;
}
.permis-form select {
    font-family:  MuseoLight, Verdana, sans-serif;
    height: 56px;
    width: 250px;
    text-align: center;
    background-color: #ffffff;
    color: #383838;
    border: 0 none;
    font-weight: bold;
}
.barr-bas{
    border-bottom-color: #999;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 15px;
    padding-top: 15px;
}
.btn-xxx {
    font-family:  MuseoLight, Verdana, sans-serif;
    height: 35px;
    width: 90%;
    text-align: center;
    background-color: #c64e53 !important;
    color: #FFFFFF;
    border: 0 none;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
}
.color-red{
    color: #c64e53 !important;
}
.error {
    text-align: center;
    color: #c64e53;
    margin-top: 10px;
    font-weight: bold;
}
.control-label{
    text-align: center;
    color: #c64e53;
    margin-top: 10px;
    font-weight: bold;
}
.btn-new-acc{
    font-family:  MuseoLight, Verdana, sans-serif;
    position: absolute;
    width: 115px;
    height: 115px;
    background-color: #c64e53 !important;
    border-radius: 130px;
    padding-top: 50px; padding-bottom: 50px;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-left: 164px;
    margin-top: 95px;
}
.btn-new-acc:hover{
    font-family:  MuseoLight, Verdana, sans-serif;
    position: absolute;
    width: 115px;
    height: 115px;
    background-color: #c64e53 !important;
    border-radius: 130px;
    padding-top: 50px; padding-bottom: 50px;
    color: #ffffff;
    font-size:13px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    margin-left: 164px;
    margin-top: 95px;
}

.connexion-haut{
    height: 75px;
    width: 100%;
    background-color: #dd4850;
    border-top-right-radius: 31px;
    border-top-left-radius: 31px;
    text-align: center;
    padding-top: 24px;
    color: #ffffff;
    font-size: 26px;
}
.bg-ct1{
    background-color: #3e3e3e;
    opacity: 0.90;
}
.bg-ctt-1{
    background: rgba(0, 0, 0, 0) url("/67.png") no-repeat scroll 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 90%;
    background-position: center;
    height: 48px;
    margin: 20px 50px;
    width: 25px;
}
.bg-ctt-2{
    background: rgba(0, 0, 0, 0) url("/90.png") no-repeat scroll 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 90%;
    background-position: center;
    height: 48px;
    margin: 20px 50px;
    width: 25px;
}
.top-botom{
    border-style: solid;
    border-color: #9c0f17
}
.Centre_de_Pithiviers__42_rue_du_maréchal_Lecler {
    font-size: 20px;
    font-family:  MuseoLight, Verdana, sans-serif;
    color: rgb(56, 56, 56);
    line-height: 1.48;
    text-align: center;
}
