/* div.form-item-contact { */
/*   padding: 0; */
/* } */


/* .pole-emploi { */
/*   display: inline-block; */
/* } */
    
/* .form-item-pole-emploi-number, .form-item-since-month { */
/*   float: left; */
/* } */

/* div.form-item-pension-fund, div.form-item-contingency-fund { */
/*   width: 100%; */
/* } */

.left-part-form .form-item {
  margin: 0px !important;
}

div label {
    margin: 1px 0;
/*      !important; */
}

.form-item-company-siret-0 label {
    margin-right: 1%;
}
.cp-field {
  margin-left: 0.7%;
  margin-bottom: 5px !important;
}

.light-gap-right {
  margin-left: 0.7%;
}