#center .form-type-radio label.option { 
	display/*\**/: inline\9;
}

.form-type-radio input, .form-type-checkbox input {
	width:20px;
}

div.Nav ul:first-child > li.first {
    border-top-width: 2px;
}

div.Nav ul:first-child > li.last > ul.menu{  
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px; 
}

*+html .profilCo {
    overflow: hidden;
    width: 25% !important;
    right: 0px;
}

*+html .separator {
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
}

/* *+html .row > div { */
/* 	padding: 0px !important; */
/* } */
/* alignement bouton radio */
#center .form-type-radio label.option { 
	display/*\**/: inline\9;
}

.form-type-radio input, .form-type-checkbox input {
	width:20px;
}

#common-form .col-md-6 {
	width:47%;
}

.padding15,
#filter {
	background-color:white;
}
.form-select.styled-select{
	display:inline;
	zoom:1;
}
#informations-personnelles>.row+.row+.row+.row>div:first-child ,
#administration-utilisateurs-liste-filtre-form>.row+.row>div:first-child{
	clear:both;
}
.form-item label {
		width:33%;
}
.col-lg-9.col-md-9.col-sm-9.col-xs-9{
	width:69%;
}
#container>.row{
	width:100%;
}
.form-select.styled-select{
	overflow:visible;
	border: 0px solid #FFFFFF;
	background:none;
	  }
#creation-compte-entreprise-form>.form-wrapper{
	background-color:white;
	border-color:white;
}
.company-infos>.row>.col-md-6,
#edit-responsable>.fieldset-wrapper>.row>.col-md-6,
#edit-utilisateur>.fieldset-wrapper>.row>.col-md-6
{
	width:46%;
	display:inline;
	zoom:1;
}
.field-suffix{
	position:absolute;
	top:20px;
}
#edit-company-siret-0{
	width:57%;
}
.company-infos.company-infos-0{
	padding-bottom:60px;
}
.company-infos>.row>.col-md-6 label{
	width:35%;
}
#edit-company-code-postal-0{
	max-width:11%;
}
#edit-responsable>.fieldset-wrapper>.row:first-child>div:first-child,
#edit-utilisateur>.fieldset-wrapper>.row:first-child>div:first-child,
#administration-utilisateurs-liste-filtre-form>.row>.col-md-6{
	width:48%;
}

/*
.bloc-text-base>.bloc-liens{
	height:19%;
	width:100%;
}
.bloc-titre-text{
	left:0%;
}

.bloc-dashboard.blanc>.bloc-content{
	BORDER-RIGHT: 1px solid; 
	BORDER-TOP: 1px solid; 
	BORDER-LEFT: 1px solid; 
	BORDER-BOTTOM: 1px solid;
	height:247px;
	
}
#saisir-une-demande,
#gestion-des-comptes,
#suivi-des-dossiers,
#les-actions-en-cours-avec-paiement-opca-paiement-entreprise{
	border:none;
}
*/